body {
	background: radial-gradient(blue, darkred);
	/*background-color: white;*/
}

.menu-screen {
	background: radial-gradient(green, black);
	margin: 100px auto;
	height: 600px;
	width: 900px;
	border: black;
	border-radius: 5%;
	position: relative;
}

.game-screen {
	background: transparent;
	margin: 50px auto;
	height: 750px;
	width: 1400px;
	border: black;
	border-radius: 5%;
}
.on {
	background: radial-gradient(green, black);
	margin: 50px auto;
	height: 750px;
	width: 1100px;
	border: black;
	border-radius: 5%;
	position: relative;
}

h1 {
	text-align: center;
	font-size: 150px;
	color: white;
}

h2 {
	position: absolute;
	left: 510px;
	top: 0px;
	font-size: 50px;
	color: red;
}

button {
	background-color: red;
	border-color: red;
	border-radius: 15%;
	color: white;
}

button:hover {
	background-color: brown;
	border-color: brown;
	border-radius: 15%;
	color: white;
	cursor: pointer;
}

#start {
	font-size: 64px;
	position: absolute;
	bottom: 112px;
	left: 265px;
	height: 100px;
	width: 370px;
}

#start:hover {
	font-size: 70px;
	padding: 0;
}

img {
	height: 215px;
	width: 110px;
	padding-left: 6px;
	padding-top: 5px;
}

.card{
	position: absolute;

}
.outline {
	height: 225px;
	width: 120px;
	display: inline-block;
	position: absolute;
	border: 1px solid transparent;
	border-radius: 10%
}

.a {
	right: 35px;
	top: 120px;
	border: 3px solid blue;
}

.b {
	right: 250px;
	top: 120px;
	border: 3px solid blue;
}

.c {
	right: 415px;
	top: 120px;
	border: 3px solid blue;
}

.d {
	right: 585px;
	top: 120px;
	border: 3px solid blue;
}

.e {
	right: 750px;
	top: 120px;
	border: 3px solid blue;
}

.f {
	right: 200px;
	top: 450px;
	border: 3px solid blue;
} 

.g {
	right: 350px;
	top: 450px;
	border: 3px solid blue;
} 

.h {
	right: 500px;
	top: 450px;
	border: 3px solid blue;
} 

.i {
	right: 650px;
	top: 450px;
	border: 3px solid blue;
} 

.j {
	right: 800px;
	top: 450px;
	border: 3px solid blue;
} 

.k {
	right: 35px;
	top: 450px;
	border: 3px solid blue;
}

.game-screen h1 {

	font-size: 80px;
	color: white;
	border-radius: 17%;
	position: absolute;
	top: 80px;
	right: 300px;
	background-color: rgba(0,0,0,0.7);
	padding: 15px;
}

.flip {
	position: absolute; 
	top: 250px;
	right: 900px;
	height: 65px;
	width: 120px;
	font-size: 28px;
}

.highlight {
	height: 225px;
	width: 120px;
	display: inline-block;
	position: absolute;
	border: 5px solid aqua;
	background-color: green;
	background: linear-gradient(black, green);
	border-radius: 10%
}


.shuffle {
	position: absolute;
	top: 160px;
	right: 900px;
	height: 65px;
	width: 120px;
	font-size: 28px;
}

.shuffle:hover {
	font-size: 32px;
	padding: 0;
}

.flip:hover {
	font-size: 32px;
	padding: 0;
}

.timer {
	position: absolute;
	left: 460px;
	top: 40px;
	font-size: 28px;
	
}

h3 {
	font-size: 20px;
	width: 225px;
	height: 180px;
	background-color: rgba(0,0,0,0.7);
	padding: 15px;
	color: white;
	border-radius: 17%;
	position: absolute;
	bottom: 60px;
	left: -120px;
	padding: 15px;
}










