body {
	background: radial-gradient(blue, darkred);
	font-family: 'Amatic SC', cursive;
}

.menu-screen {
	background: radial-gradient(green, black);
	margin: 100px auto;
	height: 700px;
	width: 900px;
	border: black;
	border-radius: 5%;
	position: relative;
}

.game-screen {
	background: transparent;
	margin: 50px auto;
	height: 750px;
	width: 1400px;
	border: black;
	border-radius: 5%;
}
.on {
	background: radial-gradient(green, black);
	margin: 50px auto;
	height: 750px;
	width: 1100px;
	border: black;
	border-radius: 5%;
	position: relative;
}

h1 {
	position: absolute;
	left: 320px;
	top: -150px;
	font-size: 190px;
	color: white;
}

h2 {
	position: absolute;
	left: 510px;
	top: 0px;
	font-size: 50px;
	color: red;
}

button {
	background-color: red;
	border-color: red;
	border-radius: 15%;
	color: white;
	font-family: 'Amatic SC', cursive;
}

button:hover {
	background-color: brown;
	border-color: brown;
	border-radius: 15%;
	color: white;
	cursor: pointer;
}

#start {
	font-size: 64px;
	position: absolute;
	bottom: 110px;
	left: 265px;
	height: 100px;
	width: 370px;
}

#start:hover {
	font-size: 70px;
	padding: 0;
}

img {
	height: 215px;
	width: 110px;
	padding-left: 6px;
	padding-top: 5px;
}

.card{
	position: absolute;

}
.outline {
	height: 225px;
	width: 120px;
	display: inline-block;
	position: absolute;
	border: 1px solid transparent;
	border-radius: 10%
}

.a {
	right: 35px;
	top: 120px;
	border: 3px solid blue;
}

.b {
	right: 250px;
	top: 120px;
	border: 3px solid blue;
}

.c {
	right: 415px;
	top: 120px;
	border: 3px solid blue;
}

.d {
	right: 585px;
	top: 120px;
	border: 3px solid blue;
}

.e {
	right: 750px;
	top: 120px;
	border: 3px solid blue;
}

.f {
	right: 200px;
	top: 450px;
	border: 3px solid blue;
} 

.g {
	right: 350px;
	top: 450px;
	border: 3px solid blue;
} 

.h {
	right: 500px;
	top: 450px;
	border: 3px solid blue;
} 

.i {
	right: 650px;
	top: 450px;
	border: 3px solid blue;
} 

.j {
	right: 800px;
	top: 450px;
	border: 3px solid blue;
} 

.k {
	right: 35px;
	top: 450px;
	border: 3px solid blue;
}

.game-screen h1 {

	font-size: 80px;
	color: white;
	border-radius: 17%;
	position: absolute;
	top: 80px;
	right: 300px;
	background-color: rgba(0,0,0,0.7);
	padding: 15px;
	text-align: center;
}

.flip {
	position: absolute; 
	top: 250px;
	right: 900px;
	height: 65px;
	width: 120px;
	font-size: 34px;
}

.highlight {
	height: 225px;
	width: 120px;
	display: inline-block;
	position: absolute;
	border: 5px solid aqua;
	background-color: green;
	/*background: linear-gradient(green, black);*/
	border-radius: 10%
}


.shuffle {
	position: absolute;
	top: 160px;
	right: 900px;
	height: 65px;
	width: 120px;
	font-size: 34px;
}

.shuffle:hover {
	font-size: 38px;
	padding: 0;
}

.flip:hover {
	font-size: 38px;
	padding: 0;
}

.timer {
	position: absolute;
	left: 460px;
	top: 20px;
	font-size: 50px;
	
}

h3 {
	font-size: 30px;
	line-height: 25px;
	width: 225px;
	height: 180px;
	background-color: rgba(0,0,0,0.7);
	padding: 15px;
	color: white;
	border-radius: 17%;
	position: absolute;
	bottom: 50px;
	left: -120px;
	padding: 18px;
}

#instruction-text {
	font-size: 64px;
	position: absolute;
	bottom: 350px;
	left: 265px;
	height: 100px;
	width: 370px;
}

#instruction-text:hover {
	font-size: 68px;
}

.inst {

	font-size: 60px;
	color: transparent;
	border-radius: 17%;
	position: absolute;
	top: -200px;
	right: 300px;
	background-color: transparent;
	padding: 15px;

}

.show {
	font-size: 60px;
	color: white;
	border-radius: 17%;
	position: absolute;
	top: 80px;
	right: 300px;
	background-color: rgba(0,0,0,0.9);
	padding: 15px;
}

.game-mode {
	font-size: 64px;
	height: 100px;
	width: 175px;
	border: 3px solid transparent;
}

.game-mode:hover {
	font-size: 72px;
}

.one {
	position: absolute;
	left: 265px;
	bottom: 230px;
}

.two {
	position: absolute;
	left: 460px;
	bottom: 230px;
}

.select {
	border: 5px solid white;
	background-color: red;
	font-size: 64px;
}

.select:hover {
	border: 5px solid white;
	background-color: red;
	font-size: 64px;
}

a {
	text-decoration: none;
	color: white;
}

#card-count {
	font-size: 50px;
	color: white;
	background-color: red;
	border-radius: 15%;
	position: absolute;
	right: 80px;
	top: 470px;
	z-index: 1;
}


